.gray-md{font-size:15px; color:gray;}
.gray-sm{font-size:10px; color:gray; wrap:break-word; text-align: center;}
.cntr{ align: "center"; }
.airline-cont{width: 37px; word-wrap: normal; display: inline-block;  margin-left:6px; margin-right:6x; vertical-align: top;}
.airline-img{ display:block; margin-left:auto; margin-right:auto;}
.flight-panel:hover{cursor:pointer}